<div>
	<a ng-click="crear()"> Registrar paciente</a>
	
	<button ng-click="crear()">Registrar paciente</button>	
	
	<h1>Pacientes cronicos</h1>
	
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Documento</th>
				<th>Telefono</th>
				<th>Enfermedad</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in pacientes | orderBy : '-enfermedade.nombre'">
				<td>{{p.nombre}}</td>
				<td>{{p.apellido}}</td>
				<td>{{p.documento}}</td>
				<td>{{p.telefono}}</td>
				<td>{{p.enfermedade.nombre}}</td>
				<td><button>Detalles</button></td>
				<td><button>Editar</button></td>
				<td><button>Desvincular</button></td>
			</tr>			
		</tbody>
	</table>


</div>